In [17]:
from registration import Register

Mary = Register("sample_transcript.csv","sample_data.csv")

In [18]:
Mary.add('INST',126,101)
Mary.add('INST',314,101)

In [19]:
Mary.schedule

,Prefix,Course number,Section number,Course name,Times,Instructor,Building
0,INST,126,101,Ipsom,M W 12:00-13:00,Ipsom,HBK 1401
6,INST,314,101,Ipsom,T Th 9:00-10:00,Ipsom,TWS 1002