In [9]:
from registration import Course_db
from registration import Student

In [10]:
UMD_courses = Course_db("sample_data.csv")

In [11]:
Mary = Student("Mary Smith", 16, 2023, 65, UMD_courses)

In [15]:
UMD_courses.courses

,Prefix,Course number,Section number,Course name,Times,Instructor,Building,Credits needed
0,INST,126,101,Ipsom,M W 12:00-13:00,Ipsom,HBK 1401,0
1,INST,126,102,Ipsom,T Th 13:00-14:00,Ipsom,ESJ 0201,0
2,INST,201,101,Ipsom,M W F 9:00-10:00,Ipsom,TWS 1001,0
3,INST,201,102,Ipsom,T Th 14:00-15:00,Ipsom,IRB 3101,0
4,INST,326,103,Ipsom,M W F 8:00-9:00,Ipsom,HBK 1402,15
5,INST,314,104,Ipsom,M W 14-15:00,Ipsom,ESJ 0202,21
6,INST,314,101,Ipsom,T Th 9:00-10:00,Ipsom,TWS 1002,21
7,INST,335,101,Ipsom,M W F 15:00-16:00,Ipsom,IRB 3102,30
8,INST,335,102,Ipsom,T Th 16:00-17:00,Ipsom,HBK 1403,30
9,INST,414,101,Ipsom,T Th 16:30-17:50,Ipsom,HBK 1403,80
10,INST,447,101,Ipsom,M W F 16:00-17:00,Ipsom,IRB 1104,90

In [17]:
Mary.add("INST", 335, 102)

TypeError: 'Course_db' object is not subscriptable